.hero-bg{
    position:absolute;
    inset:0;
    overflow:hidden;
    z-index:-1;
}

.glow{
    position:absolute;
    border-radius:50%;
    filter:blur(120px);
    opacity:.35;
}

.glow-1{
    width:350px;
    height:350px;
    background:var(--orange);
    top:-100px;
    left:-80px;
    animation:move1 10s infinite ease-in-out;
}

.glow-2{
    width:300px;
    height:300px;
    background:var(--orange-light);
    right:-100px;
    bottom:0;
    animation:move2 12s infinite ease-in-out;
}

@keyframes move1{
    50%{
        transform:translate(70px,40px);
    }
}

@keyframes move2{
    50%{
        transform:translate(-70px,-40px);
    }
}
